*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    /* Primary Colors */
    --clr-Purple50: hsl(260, 100%, 95%);
    --clr-Purple300: hsl(264, 82%, 80%);
    --clr-Purple500: hsl(263, 55%, 52%);

    /* Neutral Colors */
    --clr-Neutral-White: hsl(0, 0%, 100%);
    --clr-Neutral-Grey100: hsl(214, 17%, 92%);
    --clr-Neutral-Grey200: hsl(0, 0%, 81%);
    --clr-Neutral-Grey400: hsl(224, 10%, 45%);
    --clr-Neutral-Grey500: hsl(217, 19%, 35%);
    --clr-Neutral-Darkblue: hsl(219, 29%, 14%);
    --clr-Neutral-Black: hsl(0, 0%, 7%);

    --fs-root: 13px;
}

html {
    /* font-size: var(--fs-root); */
    font-weight: 500;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    color: var(--clr-Neutral-White);
    background: var(--clr-Neutral-Grey100);
    /* border: 3px solid lightblue; */
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* place-items: center; */
    /* place-content: center; */
    gap: 2rem;
    max-width: 1100px;
    margin: 0 auto;

    /* margin-top: 70px; */
    /* border: 3px solid lightgoldenrodyellow; */
}

/* .card {
    width: 90%;
    margin: 0 auto;
    padding: 32.5px;
    margin-bottom: 26px;
    border-radius: 10px;    
} */
.card {
    /* width: 90%; */
    padding: 2rem;
    border-radius: 10px;
}

.card-1 {
    grid-column: 1 / 3;
    /* ocupa 2 filas */
}

.card-2 {
    grid-column: 3 / 4;
}

.card-3 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    /* ocupa 2 filas */
}

.card-4 {
    grid-column: 1 / 2;
}

.card-5 {
    grid-column: 2 / 4;
    /* ocupa 2 columnas */
}


/* Alternativa */
/*
.card-1 { grid-column: span 2; }
.card-3 { grid-row: span 2; }
.card-5 { grid-column: span 2; }
*/





.purple50 {
    background-color: var(--clr-Purple50);
}

.text-purple50 {
    color: var(--clr-Purple50);
}

.purple300 {
    background-color: var(--clr-Purple300);
}

.text-purple300 {
    color: var(--clr-Purple300);
}

.purple500 {
    background: var(--clr-Purple500);
}

.grey100 {
    background: var(--clr-Neutral-Grey100);
}

.text-grey100 {
    color: var(--clr-Neutral-Grey100);
}

.grey200 {
    background: var(--clr-Neutral-Grey200);
}

.text-grey200 {
    color: var(--clr-Neutral-Grey200);
}

.grey400 {
    background: var(--clr-Neutral-Grey400);
}

.text-grey400 {
    color: var(--clr-Neutral-Grey400);
}

.grey500 {
    background: var(--clr-Neutral-Grey500);
}

.text-grey500 {
    color: var(--clr-Neutral-Grey500);
}

.darkblue {
    background-color: var(--clr-Neutral-Darkblue);
}

.text-darkblue {
    color: var(--clr-Neutral-Darkblue);
}

.black {
    background-color: var(--clr-Neutral-Black);
}

.white {
    background-color: var(--clr-Neutral-White);
}