*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    /* Primary Colors */
    --clr-Purple50: hsl(260, 100%, 95%);
    --clr-Purple300: hsl(264, 82%, 80%);
    --clr-Purple500: hsl(263, 55%, 52%);

    /* Neutral Colors */
    --clr-Neutral-White: hsl(0, 0%, 100%);
    --clr-Neutral-Grey100: hsl(214, 17%, 92%);
    --clr-Neutral-Grey200: hsl(0, 0%, 81%);
    --clr-Neutral-Grey400: hsl(224, 10%, 45%);
    --clr-Neutral-Grey500: hsl(217, 19%, 35%);
    --clr-Neutral-Darkblue: hsl(219, 29%, 14%);
    --clr-Neutral-Black: hsl(0, 0%, 7%);

    --fs-root: 13px;
}

html {
    font-size: var(--fs-root);
    font-weight: 500;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    color: var(--clr-Neutral-White);
    background: var(--clr-Neutral-Grey100);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 90%;
    margin: 0 auto;
    padding: 2.5em;
    margin-bottom: 2em;
    border-radius: 10px;
}

.card-header {
    display: flex;
    align-items: center;
    column-gap: 1.7em;
    margin-bottom: 2em;
}

.card-header-img {
    border-radius: 50%;
    width: 3.07em;
}

.img-border-purple300 {
    border: 2px solid var(--clr-Purple300);
}

.img-border-purple500 {
    border: 2px solid var(--clr-Purple500);
}

.card-header-name {
    font-size: 1.25em;
    font-weight: 300;
}

.card-header-verified {
    font-size: 1.07em;
}

.card-body-title {
    font-size: 1.62em;
    margin-bottom: 1.25em;
}

.card-body-description {
    font-size: 1.05em;
    line-height: 1.4;
}

.text-purple300 {
    color: var(--clr-Purple300);
}

.text-grey100 {
    color: var(--clr-Neutral-Grey100);
}

.text-grey200 {
    color: var(--clr-Neutral-Grey200);
}

.text-grey400 {
    color: var(--clr-Neutral-Grey400);
}

.text-grey500 {
    color: var(--clr-Neutral-Grey500);
}

.text-darkblue {
    color: var(--clr-Neutral-Darkblue);
}

/* card-1 */
.card-purple {
    background: var(--clr-Purple500);
}

/* card-2 */
.card-grey {
    background: var(--clr-Neutral-Grey500);
}

/* card-3 */
.card-white1 {
    background-color: var(--clr-Neutral-White);
}

/* card-4 */
.card-black {
    background-color: var(--clr-Neutral-Black);
}

/* card-5 */
.card-white2 {
    background-color: var(--clr-Neutral-White);
}

@media (min-width: 41.5em) {

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 0 2rem;
    }

    .card {
        width: 95%;
        margin: 0;
    }

    .card-purple {
        grid-column: 1 / 3;
    }
}

@media (min-width: 59em) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .card {
        width: 100%;
    }

    /* card-1 */
    .card-purple {
        grid-column: 1 / 3;
    }

    /* card-4 */
    .card-black {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    /* card-5 */
    .card-white2 {
        grid-column: 3 / 3;
        grid-row: 1 / 3;
    }
}

@media (min-width: 78.8em) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1150px;
        gap: 2.5rem;
    }

    .card {
        padding: 2.3em;
    }

    /* card-1 */
    .card-purple {
        grid-column: 1 / 3;
    }

    /* card-2 */
    .card-grey {
        grid-column: 3 / 4;
    }

    /* card-3 */
    .card-white1 {
        grid-column: 1 / 2;
    }

    /* card-4 */
    .card-black {
        grid-column: 2 / 4;
    }

    /* card-5 */
    .card-white2 {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }

    .card-body-description {
        font-size: 1.05em;
    }
}

/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}*/