*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    /* Primary Colors */
    -clr-Purple50: hsl(260, 100%, 95%);
    -clr-Purple300: hsl(264, 82%, 80%);
    -clr-Purple500: hsl(263, 55%, 52%);

    /* Neutral Colors */
    -clr-Neutral-White: hsl(0, 0%, 100%);
    -clr-Neutral-Grey100: hsl(214, 17%, 92%);
    -clr-Neutral-Grey200: hsl(0, 0%, 81%);
    -clr-Neutral-Grey400: hsl(224, 10%, 45%);
    -clr-Neutral-Grey500: hsl(217, 19%, 35%);
    -clr-Neutral-Darkblue: hsl(219, 29%, 14%);
    -clr-Neutral-Black: hsl(0, 0%, 7%);

    --fs-root: 13px;
}

html {
    font-size: var(--fs-root);

}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-family: "Barlow Semi Condensed", sans-serif;
    /* font-weight: 600;   */
    font-weight: 500;
    font-style: normal;
}